@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/AvenirLTStd-Black.otf');
}
body {
  font-family: 'Lato', 'Avenir', sans-serif;
}

:root {
  --accent-color: #01996d;
  --first-text-color: #484848;
  --second-text-color: #ffffff;
  --third-text-color: #292929;
  --fourth-text-color: #424242;
  --fifth-text-color: #000000;
  --first-background-color: #245852;
  --second-background-color: #080809;
  /* ----------------unuse ----------------*/
  --third-background-color: #eeeeee;
  --line-color: #ececec;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}
/* ----------USEFULL BLOCKS--------------- */

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/* -----------HEADER--------------- */

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  padding: 0 275px;
  margin: 0 auto;
  border-bottom: 1px solid #00000033;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.header-nav-container {
  display: flex;
  align-items: center;
  max-width: 557px;
  flex-grow: 2;
  margin-left: 173px;
}

.header__logo {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-nav-container__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header-nav-container__link {
  padding-top: 30px;
  padding-bottom: 31px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--third-text-color);
}
.header-auth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 277px;
  margin-left: 283px;
}

.header-auth__link {
  display: flex;
  align-items: center;
  height: 51px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
.header-auth__link_activ {
  display: flex;
  align-items: center;
  height: 51px;
  background-color: var(--accent-color);
  padding: 13px 50px;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
}

/* -------------MAIN ----------------- */
/* -------------HERO SECTION----------------- */
.hero-section {
  width: 100vw;
}

.hero-container {
  position: relative;
  height: 895px;
  background-image: url('../img//hero-bg.png');
  background-size: fill;
  background-position: center;
}

.hero-info {
  position: absolute;
  top: 175px;
  left: 275px;
  width: 440px;
}
.hero-info__title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 1.14;
  color: var(--accent-color);
}

.hero-info__decription {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.55;
  color: var(--first-text-color);
  margin-top: 20px;
  padding-right: 20px;
}

.hero-info__button {
  margin-top: 30px;
  background-color: var(--accent-color);
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  padding: 20px 50px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
}

/* ---------------HOW-ITS-WORK SECTION--------------------- */
.how-its-work-section {
  width: 100vw;
  padding-top: 169px;
  padding-bottom: 51px;
}

.how-its-work-container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 275px;
  padding-right: 232px;
}

.how-its-work-layout {
  display: flex;
  justify-content: space-between;
}

.how-its-work-layout-leftside {
  width: 584px;
}
.how-its-work-layout-rightside {
  width: 671px;
  padding-top: 58px;
}

.how-its-work-layout-leftside__text-anchor {
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
  color: var(--fourth-text-color);
}

.how-its-work-layout-leftside__title {
  font-family: 'Georgia';
  font-weight: 700;
  font-size: 50px;
  line-height: 1.57;
  color: #01996d;
}

.how-its-work-layout-rightside__description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--fourth-text-color);
}

.how-its-work__list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.how-its-work__item {
  position: relative;
  width: 392px;
}

.how-its-work__item:nth-child(2) {
  margin-top: 287px;
}
.how-its-work__item:nth-child(3) {
  margin-top: 54px;
}

.how-its-work__item-number {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 150px;
  line-height: 1.5;
  color: rgba(1, 153, 109, 0.2);
}

.how-its-work__item-title {
  position: absolute;
  top: 135px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  color: var(--fifth-text-color);
}

.how-its-work__item-title_first {
  left: 88px;
}
.how-its-work__item-title_second {
  left: 79px;
}
.how-its-work__item-title_third {
  left: 124px;
}

.how-its-work__description {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--fourth-text-color);
}

.how-its-work__list
  :not(:last-child)
  .how-its-work__description {
  margin-top: 10px;
}

.how-its-work__item-image_01 {
  margin-top: 60px;
}

.how-its-work__item-image_02 {
  margin-top: 37px;
}
.how-its-work__item-image_03 {
  margin-top: 38px;
}

/* ---------------ABOUT SECTION--------------------- */
.about-section {
  width: 100vw;
}

.about-container {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  padding: 229px 207px 177px;
  background-color: var(--first-background-color);
}

.about-left-box {
  padding-top: 81px;
}

.about__title {
  width: 580px;
  font-family: 'Georgia';
  font-weight: 700;
  font-size: 50px;
  color: var(--second-text-color);
}

.about__description {
  margin-top: 33px;
  width: 550px;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.57;
  color: var(--second-text-color);
}
.about__button {
  margin-top: 57px;
  padding: 20px 50px;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
}

.about-right-box {
  position: relative;
  width: 896px;
  height: 516px;
  border-radius: 16px;
}

.about__image {
  width: 100%;
  height: 100%;
}

.about__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---------------OUR PRODUCT SECTION--------------------- */
.our-product-section {
  width: 100vw;
  padding-top: 120px;
  padding-bottom: 168px;
}

.our-product-container {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 275px 0 255px;
}

.our-product-left-box {
  position: relative;

  padding-left: 81px;
  padding-bottom: 95px;
}

.our-product-image {
  width: 639px;
  height: 573px;
  border-radius: 18px;
  background-color: rgba(1, 153, 109, 0.2);
  background-image: url('../img//our-product-Mikayla.png');
}

.our-product-right-box {
  margin-left: 87px;
}
.our-product-card {
  position: absolute;
  left: 0;
  bottom: 0;
}

.our-product__text-anchor {
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: var(--fourth-text-color);
}

.our-product__title {
  margin-top: 10px;
  font-family: 'Georgia';
  font-weight: 700;
  font-size: 50px;
  line-height: 1.57;
  color: var(--accent-color);
}

.our-product__description {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.55;
  color: var(--first-text-color);
}

.our-product__button {
  margin-top: 40px;
  padding: 20px 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  color: var(--second-text-color);
}

/* ----------------FOOTER-------------------- */

.footer {
  width: 100vw;
}

.footer-container {
  display: flex;
  max-width: 1920px;
  height: 654px;
  margin: 0 auto;
  padding: 95px 92px 39px 275px;
  background-color: var(--first-background-color);
}

.footer-nav {
  color: var(--second-text-color);
}

.footer-list {
  margin-top: 60px;
}

.footer-item:not(:first-child) {
  margin-top: 60px;
}

.footer-link {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  color: var(--second-text-color);
}

.footer-logo {
  font-family: 'Avenir';
  font-weight: 900;
  font-size: 40px;
  line-height: 1.38;
  color: var(--second-text-color);
}

.footer-social-box {
  display: flex;
  margin-left: auto;
  margin-top: auto;
}

.social-links-list {
  display: flex;
  width: 357px;
  justify-content: space-around;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* background-color: red; */
}

.social-links-item__link_facebook {
  background: url('../img/facebook-icon.png') no-repeat
      center,
    var(--second-text-color);
}

.social-links-item__link_instagram {
  background: url('../img/instagram-icon.png') no-repeat
      center,
    conic-gradient(
      from 180deg at 50% 50%,
      #80a4ce 0deg,
      #f289aa 60deg,
      #c68bf0 106.09deg,
      #d164da 153.75deg,
      #c963e8 221.25deg,
      #bfc2e8 258.75deg,
      #ffc999 288.75deg,
      #d0d8c9 315deg,
      #bad0f1 334.13deg,
      #ced8cb 358.97deg,
      rgba(255, 255, 255, 0) 360deg
    );
}

.social-links-item__link_twitter {
  background: url('../img/twitter-icon.png') no-repeat
      center,
    var(--second-text-color);
}

.social-mobile-store-list {
  display: flex;
  width: 432px;
  justify-content: space-around;
}

.social-mobile-store-item {
  display: flex;
  align-items: center;
}

.footer-mobile-store-link {
  height: fit-content;
  border-radius: 18px;
  background-color: var(--second-background-color);
}

.social-mobile-store-item__link_google {
  width: 216px;
  height: 65px;
  background: url('../img/google-logo.png') no-repeat 35px
      13px,
    url('../img/google-store-title.png') no-repeat 85px 17px,
    var(--second-background-color);
}

.social-mobile-store-item__link_ios {
  width: 202px;
  height: 65px;
  background: url('../img/ios-logo.png') no-repeat 35px 15px,
    url('../img/ios-store-title.png') no-repeat 73px 16px,
    var(--second-background-color);
}
